In [5]:
import pandas as pd
import numpy as np

In [6]:
customers = pd.MultiIndex.from_tuples(
    (("Bob", "smithb"), ("Mary", "mj100"), ("Mita", "patelm")),
    names=["name", "username"],
)

In [7]:
accounts = pd.MultiIndex.from_tuples(
    ((0, "number"), (0, "balance"), (1, "number"), (1, "balance")), names=["account", "account_info"]
)

In [8]:
account_info = pd.DataFrame(
    [[123846, 123, 123847, 450], [123972, 3972, 123973, 222], [347209, 7209, np.nan, np.nan]],
    index=customers,
    columns=accounts,
)

In [9]:
account_info

account             0                 1
account_info   number balance    number balance
name username
Bob  smithb    123846     123  123847.0   450.0
Mary mj100     123972    3972  123973.0   222.0
Mita patelm    347209    7209       NaN     NaN

In [10]:
account_info.loc[('Mary', 'mj100'), pd.IndexSlice[:, 'balance']]

account  account_info
0        balance         3972.0
1        balance          222.0
Name: (Mary, mj100), dtype: float64