In [1]:
import pandas as pd

In [2]:
restaurants = pd.MultiIndex.from_tuples(
(('Diner', (4, 2)), ('Pandas', (5, 4))),
names = ['restaurant', 'location'])

In [3]:
restaurants

MultiIndex([( 'Diner', (4, 2)),
            ('Pandas', (5, 4))],
           names=['restaurant', 'location'])

In [8]:
inspections = pd.MultiIndex.from_tuples(
((0, 'score'), (0, 'data'), (1, 'score'), (1, 'date')), 
    names=['inspection', 'data'])

In [11]:
restaurant_inspections = pd.DataFrame(
[[90, '02/18', 100, '05/18'], [55, '04/18', 76, '01/18']],
index=restaurants,
columns=inspections)

In [16]:
restaurant_inspections

inspection              0            1
data                score   data score   date
restaurant location
Diner      (4, 2)      90  02/18   100  05/18
Pandas     (5, 4)      55  04/18    76  01/18

In [14]:
score_columns = (
restaurant_inspections.columns.get_level_values('data') == 'score')

In [15]:
score_columns

array([ True, False,  True, False])

In [17]:
restaurant_inspections.iloc[:, score_columns]

inspection              0     1
data                score score
restaurant location
Diner      (4, 2)      90   100
Pandas     (5, 4)      55    76