In [1]:
import pandas as pd

In [3]:
account_info = pd.DataFrame({
    'name': ["Bob", 'Mary', 'Mita'],
    'account': [123846, 123972, 347209],
    'balance': [123, 3972, 7209]
})

In [4]:
account_info[['name', 'balance']]

   name  balance
0   Bob      123
1  Mary     3972
2  Mita     7209